
<!-- Header Section Start -->
<div  id="header-html" class="header">
  <div class="print-heading">
    {% if letter_head %}
        <div class="letter-head">{{ letter_head }}</div>
    {% endif %}
  </div>
</div>
<!--Header Section End-->

<!-- Print Format Body Start -->
<div class="print-body">
    <div class="print-body-top">
        <div class="top-left-side">
            <div style="display:flex">
                <div class="width-20 text-left"><span style="font-weight:bold">Customer: </span></div>
                <div class="width-50 text-left">{{doc.customer}}</div>
            </div>
            <div style="display:flex">
                <div class="width-20 text-left"><span style="font-weight:bold">Address: </span></div>
                <div class="width-50 text-left">{{doc.address_display}}</div>
            </div>
        </div>
        <div class="top-right-side">
            <div style="display:flex">
                <div class="width-50 text-right"><span style="font-weight:bold">Invoice: </span></div>
                <div class="width-50 text-right">{{doc.name}}</div>
            </div>
            <div style="display:flex">
                <div class="width-50 text-right"><span style="font-weight:bold">Date: </span></div>
                <div class="width-50 text-right">{{_(frappe.format(doc.get('posting_date'), {'fieldtype': 'Date'}) or "")}}</div>
            </div>
        </div>
    </div>
    <div class="item-section">
        <table>
            <thead>
                <tr>
                    <th class="width-50">Item Name</td>
                    <th class="width-15 text-center">Quantity</td>
                    <th class="width-15 text-center">Rate</td>
                    <th class="width-20 text-center">Amount</td>
                </tr>
            </thead>
            <tbody>
                {% for item in doc.items %}
                <tr>
                    <td class="width-50">{{item.item_name}}</td>
                    <td class="width-15 text-right">{{item.qty}}</td>
                    <td class="width-15 text-right">{{item.rate}}</td>
                    <td class="width-20 text-right">{{item.amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="total-section">
        <div class="total-left">
            <h2><span style="font-weight:bold">Total Quantity: </span>{{doc.total_qty}}</h2>
        </div>
        <div class="total-right">
            <div style="display:flex">
                <div class="width-50 text-right"><span style="font-weight:bold">Total: </span></div>
                <div class="width-50 text-right">{{doc.total}}</div>
            </div>
        </div>
    </div>
    <div class="Amount-section">
        <div class="left-side"></div>
        <div class="right-side">
            <div style="display:flex">
                <div class="width-50 text-right"><span style="font-weight:bold">Grand Total:</span></div>
                <div class="width-50 text-right">{{doc.grand_total}}</div>
            </div>
            <div style="display:flex">
                <div class="width-50 text-right"><span style="font-weight:bold">Discount:</span></div>
                <div class="width-50 text-right">{{doc.discount_amount}}</div>
            </div>
            <div style="display:flex">
                <div class="width-50 text-right"><span style="font-weight:bold">Net Total:</span></div>
                <div class="width-50 text-right">{{doc.net_total}}</div>
            </div>
            <div style="display:flex">
                <div class="width-50 text-right"><span style="font-weight:bold">In Wards:</span></div>
                <div class="width-50 text-right">{{doc.in_words}}</div>
            </div>
        </div>
    </div>
    
</div>
<!-- Print Format Body End -->


<!-- Footer Section Start -->
<div  id="footer-html" class="footer">
  <div class="print-footer">
    {% if footer %}
        <div class="letter-head">{{ footer }}</div>
    {% endif %}
  </div>
</div>
<!-- Footer Section End -->